@charset "utf-8";
*{ margin:0px; padding:0px;}
.toptop { background:#999; width:100%; height:45px;}
.top,.foot { margin:5px auto}
.con,.main,.right { margin:0px auto}
.top { height:85px; background-color:#CCF;}
.main { background-color:#CCF;}
.right { background-color:#CCF;}
.foot { height:100px; background-color:#666;}

@media screen and (min-width:960px)
{
	.toptop { background:#666; width:100%; height:45px;}
	.foot   { background:#666; width:100%; height:100px;}
	.top,.con { width:75.9%;}
	.right {height:290px;}
	.right {width:75.9%;}
	.main { width:75.9%;}
	.con { height:520px;}
}
@media screen and (max-width:960px)
{
	.toptop { background:#666; width:100%; height:45px;}
	.foot   { background:#666; width:100%; height:100px;}
	.top,.con,.right,main{ width:75.9%;}
	.right {height:290px;}
	.con { height:520px;}
}