@charset "utf-8";
/* CSS Document */
/*通用*/
*{ margin:0px; padding:0px;}
.c{	margin:0 auto;}
/*顶部*/
.header{
	background:#666; 
	width:100%; 
	height:45px;
	}
.logo{
	float:left;
	margin-left:60px;
	background-color:#F00;
	width:100%
	height:45px;
}
.logo a{
	font-size:35px;
	line-height:45px;
	text-decoration:none;
	font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;
}
/*中间*/
.center_top{
	width:960px;
	height:85px;
	margin-top:5px;
	background-color:#CCF;
}
.c_t_img{
	float:left;
}
.c_t_text{
	float:right;
	width:800px;
}
.c_t_ul{
	margin-top:17px;
	list-style:none;
}
.c_t_ul a{
	text-decoration:none;
}
.c_t_text span{
	float:right;
	margin-right:100px;
}

.center_cen{
	width:960px;
	margin-top:5px;
	background-color:#CCF;
}
.c_c_menu{
	width:100%;
	height:30px;
}
.c_c_ul{
	width:100%;
	height:30px;
}
.c_c_ul span{
	width:64px;
}
.c_c_ul li{
	width:64px;
	list-style:none;
	float:left;
	line-height:30px;
	margin:0 16px;
}
.c_c_ul a{
	text-decoration:none;
	font-size:16px;
	width:64px;
}
 .c_c_ul li:hover{
	background-color:#666;
 }
 
 .c_c_title{
	 margin-left:17px;
	 margin-top:5px;
	 width:100%;
 }
 .title_input{
	 width:100%;
	 height:20px;
	 float:left;
 }
 .c_c_text a{
	 text-decoration:none;
 }
 .center_but{
	 width:960px;
	 background-color:#CCF;
 }
 .c_b_p a{
	 text-decoration:none;
 }
 /*底部*/
.foot{
	background-color:#666;
	width:100%;
	height:100px;
}
.foot a{
	text-decoration:none;
}